.rootPane {
    -fx-background-color: #00000000;
}

.tab-pane {
    -fx-tab-max-height: 0 ;
}
.tab-pane .tab-header-area {
    visibility: hidden ;
    -fx-padding: -20 0 0 0;
}

.menu-button {
    -fx-background-radius: 90;
    -fx-background-color: #ffffff;
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

.menu-button:hover {
    -fx-background-color: #ffffff27;
}

.menu-button:pressed {
    -fx-background-color: #AE10C6;
}

.menu-button-back {
    -fx-shape: "M569.633,792c-12.053,0-24.222-6.026-36.157-18.001L208.177,448.7c-29.082-29.042-29.082-76.358,0-105.4L533.476,18.001C545.411,6.026,557.58,0,569.633,0c16.602,0,36.002,12.519,36.002,47.86v696.281C605.635,779.481,586.234,792,569.633,792zM566.25,40.939c-1.399,1.011-3.188,2.488-5.287,4.549L235.702,370.787c-13.879,13.88-13.879,36.507,0,50.426l325.3,325.299c2.061,2.061,3.849,3.538,5.248,4.51c0.272-1.711,0.506-4.043,0.506-6.92V47.86C566.756,44.944,566.522,42.689,566.25,40.939z";
}

.menu-button-home {
    -fx-shape: "M8,0C3.582,0,0,3.582,0,8s3.582,8,8,8s8-3.582,8-8S12.418,0,8,0z M8,15c-3.866,0-7-3.134-7-7s3.134-7,7-7s7,3.134,7,7S11.866,15,8,15z"
}

.menu-button-apps {
    -fx-shape: "M12.004,0H3.996C1.789,0,0,1.789,0,3.996v8.008C0,14.211,1.789,16,3.996,16h8.008C14.211,16,16,14.211,16,12.004V3.996C16,1.789,14.211,0,12.004,0z M15,11.997C15,13.657,13.655,15,11.997,15H4.003C2.343,15,1,13.655,1,11.997V4.003C1,2.343,2.345,1,4.003,1h7.994C13.657,1,15,2.345,15,4.003V11.997z"
}

.icon-wifi {
    -fx-background-color: #ffffff;
    -fx-shape: "M25,31.041c-2.21-2.191-5.79-2.191-8,0L21,35L25,31.041z M33,23.12c-6.63-6.562-17.37-6.562-24,0 l4,3.959c4.42-4.37,11.58-4.37,16,0L33,23.12z M41,15.199c-11.05-10.932-28.95-10.932-40,0l4,3.959c8.84-8.751,23.16-8.751,32,0L41,15.199z"
}

.icon-batery {
    -fx-background-color: #ffffff;
    -fx-shape: "M15.67 4H14V2h-4v2H8.33C7.6 4 7 4.6 7 5.33v15.33C7 21.4 7.6 22 8.33 22h7.33c.74 0 1.34-.6 1.34-1.33V5.33C17 4.6 16.4 4 15.67 4zM11 20v-5.5H9L13 7v5.5h2L11 20z";
}

.app-phone{
    -fx-background-color:#3d80e4;
    -fx-shape: "M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z";
}

.app-men{
    -fx-background-color:#1fa733;
    -fx-shape: "M100,37H28c-2.2,0-4,1.8-4,4v42c0,2.2,1.8,4,4,4h20v15.1c0,0.8,0.9,1.3,1.6,0.8L72,87h28c2.2,0,4-1.8,4-4V41  C104,38.8,102.2,37,100,37z"
}

.app-net{
    -fx-background-color:#38b9ff;
    -fx-shape: "M587.572,186.881c-32.266-75.225-87.096-129.934-162.949-162.285C386.711,8.427,347.328,0.168,305.832,0.168c-41.488,0-80.914,8.181-118.784,24.428C111.824,56.861,56.415,111.535,24.092,186.881C7.895,224.629,0,264.176,0,305.664c0,41.496,7.895,81.371,24.092,119.127c32.323,75.346,87.731,130.348,162.956,162.621c37.87,16.247,77.295,24.42,118.784,24.42c41.496,0,80.879-8.259,118.791-24.42c75.854-32.352,130.684-87.403,162.949-162.621C603.819,386.914,612,347.16,612,305.664C612,264.176,603.819,224.757,587.572,186.881z M204.109,57.054c-26.434,33.458-45.836,75.953-58.221,127.485H65.917C95.362,127.318,144.889,81.475,204.109,57.054z M37.141,305.664c0-29.11,4.683-57.214,13.72-84.319h87.667c-4.348,28.439-6.36,56.551-6.36,84.319c0,27.44,2.013,55.217,6.36,83.656H50.19C41.489,362.215,37.141,334.111,37.141,305.664zM65.917,426.126h79.972c12.385,52.531,31.788,95.697,58.221,128.827C143.882,529.854,94.356,484.012,65.917,426.126zM287.094,571.679c-21.751-6.354-42.16-22.415-60.562-48.513c-18.403-26.105-32.458-58.557-42.16-97.04h102.722V571.679zM287.094,389.32H176.005c-4.354-29.782-6.696-57.558-6.696-83.656c0-28.104,2.341-56.215,7.367-84.319h110.417V389.32L287.094,389.32z M287.094,184.54H184.372c10.372-38.148,24.506-70.214,42.831-96.034c18.481-26.048,38.141-42.16,59.892-48.185V184.54z M546.084,184.54h-79.973c-12.378-51.533-31.787-94.028-58.221-127.485C467.118,81.475,516.638,127.318,546.084,184.54zM324.906,40.321c21.751,6.025,41.41,22.137,59.892,48.185c18.331,25.82,32.458,57.886,42.83,96.034H324.906V40.321zM324.906,221.345h110.417c5.025,28.104,7.367,56.215,7.367,84.319c0,26.099-2.342,53.874-6.696,83.656H324.906V221.345zM324.906,571.679V426.126h102.722c-10.036,38.483-24.277,70.806-42.495,97.04C366.873,549.464,346.992,565.661,324.906,571.679zM407.891,554.953c26.434-33.13,45.843-76.296,58.221-128.827h79.973C517.645,484.012,468.117,529.854,407.891,554.953zM561.81,389.32h-88.338c4.354-28.44,6.36-56.216,6.36-83.656c0-27.768-2.006-55.879-6.36-84.319h87.667c9.037,27.104,13.72,55.208,13.72,84.319C574.858,334.111,570.512,362.215,561.81,389.32z"
}

.app-apps{
    -fx-background-color:white;
    -fx-shape:"M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z";
}

.app-apps:hover{
    -fx-effect: dropshadow(three-pass-box, grey, 30, 0, 0, 5);
}

.logo-train{
    -fx-background-colo:white;
    -fx-shape: "M223.93011,121.04651a7.94667,7.94667,0,0,0,.0658-.98889c.00049-.06708-.00445-.13373-.00568-.20081q-.00714-.37884-.05065-.76166c-.01111-.09741-.02314-.194-.03785-.291-.0119-.07855-.01635-.15656-.03064-.23529-.03271-.18006-.07983-.35352-.1239-.52838-.01214-.0481-.01636-.09754-.02942-.14545l-.03332-.12231-.00055-.00177L201.3252,35.79A16.03362,16.03362,0,0,0,185.88965,24H70.11035A16.03362,16.03362,0,0,0,54.6748,35.79L32.31641,117.76978l-.00135.00488-.03283.12036c-.01294.04742-.01709.09625-.02912.14386-.04425.17535-.09137.34943-.1242.53-.01429.07873-.01874.15674-.03064.23529-.01471.097-.02674.1936-.03785.291q-.04394.38316-.05065.76166c-.00123.06708-.00617.13373-.00568.20081a7.94667,7.94667,0,0,0,.0658.98889c.00268.0202.00756.0401.01043.06036a7.937,7.937,0,0,0,.18109.89508c.00879.03406.01154.06909.02082.103L54.6748,204.209A16.03394,16.03394,0,0,0,70.11035,216h9.88941L65.59961,235.2002a8.00019,8.00019,0,0,0,12.80078,9.5996L100.00024,216h55.99952l21.59985,28.7998a8.00019,8.00019,0,0,0,12.80078-9.5996L176.00024,216h9.88941a16.03394,16.03394,0,0,0,15.43555-11.791l22.39257-82.104c.00928-.03394.012-.069.02082-.103a7.937,7.937,0,0,0,.18109-.89508C223.92255,121.08661,223.92743,121.06671,223.93011,121.04651ZM70.10645,40h115.7832l20.09723,73.68933L128,127.86865,50.01282,113.68927ZM51.058,130.14178,120,142.6767v57.32275L70.11035,199.999ZM185.88965,200,136,199.99957V142.6767l68.94208-12.535ZM88,88a8.00008,8.00008,0,0,1,8-8h64a8,8,0,0,1,0,16H96A8.00008,8.00008,0,0,1,88,88Z"
}

.button-send{
    -fx-background-colo:white;
    -fx-shape: "M2.1,14.6C8.9,12,28.5,4,28.5,4l-3.9,22.6c-0.2,1.1-1.5,1.5-2.3,0.8l-6.1-5.1l-4.3,4l0.7-6.7l13-12.3l-16,10  l1,5.7l-3.3-5.3l-5-1.6C1.5,15.8,1.4,14.8,2.1,14.6z"
}

.button-call{
    -fx-background-radius: 90;
    -fx-background-color: #1fa733;
}

.button-call:hover{
    -fx-background-radius: 90;
    -fx-background-color: #1fa733A8;
}

.button-calloff{
    -fx-background-radius: 90;
    -fx-background-color: red;
}

.button-calloff:hover{
    -fx-background-color: #d30000;
}

.button-calloff:pressed{
    -fx-background-color: darkred;
}

.scroll-bar:vertical {
    -fx-background-color: transparent;
  }

.scroll-bar:vertical .track-background {
    visibility: hidden;
  }
  
.scroll-bar:vertical .track {
    visibility: hidden;
  }

.app:hover{
    -fx-background-color: #34343412;
    -fx-background-radius: 5;
}

.app:pressed{
    -fx-background-color: #34343430;
}

.keynumber:hover{
    -fx-background-color: #f7f7f712;
    -fx-background-radius: 90;
}

.keynumber:pressed{
    -fx-background-color: #f7f7f730;
}

.app-menu{
    -fx-background-color: #34343412;
}

.app-menu:hover{
    -fx-background-color: #34343450;
}

.app-menu:pressed{
    -fx-background-color: #34343488;
}

.button-reload{
    -fx-background-color:transparent;
}

.button-reload:hover{
    -fx-background-radius:90;
    -fx-background-color:black;
}

.button-reload:pressed{
    -fx-background-radius:90;
    -fx-background-color:gray;
}